<header>
  <button
    class="language_selection"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Seleção de idioma"
    i18n-aria-label
  >
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <mat-radio-group
      class="language_radio"
      [value]="languange"
      (change)="changeLanguage($event)"
      i18n-aria-label
    >
      <mat-radio-button value="/pt-br/"
        ><img
          src="assets/icons/brazil_flag.png"
          alt="bandeira do Brasil"
          class="language_flags"
          i18n-alt
      /></mat-radio-button>
      <mat-radio-button value="/en/"
        ><img
          src="assets/icons/usa_flag.png"
          alt="bandeira dos Estados Unidos"
          class="language_flags"
          i18n-alt
      /></mat-radio-button>
    </mat-radio-group>
  </mat-menu>

  <mat-card class="mat-elevation-z4">
    <img
      mat-card-image
      src="assets/images/avatar.png"
      alt="Foto do Gustavo"
      i18n-alt
    />
    <mat-card-header>
      <mat-card-title>Gustavo Henrique Dantas Lima</mat-card-title>
      <mat-card-subtitle i18n>Desenvolvedor Fullstack</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a
        mat-flat-button
        i18n
        title="Linkedin"
        href="https://www.linkedin.com/in/gustavohdlima/"
        target="_blank"
        >Linkedin</a
      >
      <a
        mat-flat-button
        i18n
        title="Github"
        href="https://github.com/gustas01"
        target="_blank"
        >Github</a
      >
      <a
        mat-flat-button
        i18n
        title="Enviar email"
        href="mailto:gustavohdlima@hotmail.com"
        >Email</a
      >
    </mat-card-actions>

    <a
      class="button-downloadcv"
      mat-raised-button
      download
      title="Baixar CV"
      href="assets/documents/CV.pdf"
      aria-label="Botão de download currículo"
      i18n-aria-label
      ><span i18n>Baixar CV <mat-icon>download</mat-icon></span>
    </a>
  </mat-card>
</header>
