@import '../../../styles.scss';

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/images/PC2.jpg');
  background-attachment: fixed;
  height: fit-content;
  position: relative;

  .opacity {
    width: 100%;
    height: 100%;
    background-color: #555;
    position: absolute;
    opacity: 0.5;
    z-index: 1;
  }
}
.language_flags {
  width: 40px;
}

.language_selection {
  position: absolute;
  top: 16px;
  right: 12px;
  background-color: #333;
  border-radius: 4px;
}
.language_radio {
  display: flex;
  flex-direction: column;
}

mat-card {
  min-width: 330px;
  max-width: 25%;
  z-index: 2;
  margin: 16px 0;
  padding: 4px 4px 20px 4px;
  background-color: #292929;

  > img {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: auto;
  }

  mat-card-header {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  a {
    position: relative;

    img {
      height: calc(100% - 2px);
      width: calc(100% - 2px);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      border: none;
      z-index: 10;
      display: block;
      margin: auto;
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: space-evenly;
  }

  .button-downloadcv {
    // width: 50%;
    align-self: center;
    background-color: $primary-color;
    margin-top: 12px;

    &:hover {
      border: none;
    }

    span {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.round-button-links {
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 120%;
    background-color: #fff;
    top: -10%;
    left: 25%;
    transform: rotate(45deg);
  }

  &:hover::before {
    animation: spinning 2s linear infinite;
  }

  &::after {
    position: absolute;
    content: '';
    background-color: #222;
    border-radius: 50%;
    inset: 2px;
  }

  @keyframes spinning {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(405deg);
    }
  }
}

.square-button-link {
  &::before {
    position: absolute;
    content: '';
    height: 36px;
    width: fit-content;
    background-color: #ee7;
    border-radius: 8px;
    z-index: -1;
    transition: 0.2s;
    animation: color-changing 2s infinite;
  }

  &:hover::before {
    padding: 2px;
    width: 100%;
  }

  @keyframes color-changing {
    50% {
      filter: hue-rotate(350deg);
    }
  }
}
