<header>
  <!-- <div class="opacity"></div> -->
  <mat-card class="mat-elevation-z4">
    <img mat-card-image src="../../assets/images/avatar.jpg" alt="avatar picture">
    <mat-card-header>
      <mat-card-title>Gustavo Henrique Dantas Lima</mat-card-title>
      <mat-card-subtitle>Desenvolvedor Fullstack</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a mat-icon-button title="Linkedin" href="https://www.linkedin.com/in/gustavohdlima/" target="_blank"><img src="../../assets/icons/linkedin_icon_white.svg" alt=""></a>
      <a mat-icon-button title="Github" href="https://github.com/gustas01" target="_blank"><img src="../../assets/icons/github_icon_white.svg" alt=""></a>
      <a mat-icon-button title="Enviar email" href="mailto:gustavohdlima@hotmail.com"><img src="../../assets/icons/email_icon_white.svg" alt=""></a>
    </mat-card-actions>

    <a mat-raised-button download class="button-downloadcv" title="Baixar CV" href="../../../assets/documents/CV.pdf"><span>Baixar CV <mat-icon>download</mat-icon></span> </a>
  </mat-card>
</header>
