<div class="timeline" *ngFor="let exp of experiences">
  <div class="container" [ngClass]="exp.side">
    <div class="content">
      <div class="title-period">
        <h3>{{ exp.role }}</h3>
        <h5>{{ exp.period }}</h5>
      </div>
      <h4>{{ exp.company }}</h4>
      <p style="text-align: justify">{{ exp.description }}</p>
      <span>
        <h4 i18n>Tecnologias Utilizadas</h4>
        <ul
          aria-label="Lista de habilidades desenvolvidas no cargo"
          i18n-aria-label
          style="padding-left: 40px"
        >
          <li *ngFor="let tech of exp.technologies">
            {{ tech }}
          </li>
        </ul>
      </span>
    </div>
  </div>
</div>
