@import "../../styles.scss";

section {
  color: $primary-color-text;

  .projects_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 10px;

    mat-card {
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      transition: box-shadow 0.25s;
      // transition: filter 0.25s;

      &:hover {
        box-shadow: 0 0px 16px rgba(255, 255, 255, 0.2);
        // filter: brightness(1.2);
      }

      mat-card-content {
        color: gray;
        margin: 0.5rem 0;
      }

      img {
        height: 5rem;
      }
    }
  }
}
