@import '../../../styles.scss';

section{
  padding-bottom: 20px;
}


mat-expansion-panel{
  margin-bottom: 8px;
  background-color: $primary-color;
  color: #dcdcdc;

  a{
    text-decoration: none;
  }

  span{
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
}


.mat-accordion>.mat-expansion-panel-spacing:last-child{
  margin-bottom: 8px;
}
