<!-- <h1>Experiências</h1> -->
<div class="timeline" *ngFor="let exp of experiences">
  <div class="container" [ngClass]="exp.side">
    <div class="content">
      <div class="title-period">
        <h3>{{ exp.role }}</h3>
        <h5>{{ exp.period }}</h5>
      </div>
      <h4>{{ exp.company }}</h4>
      <p style="text-align: justify">{{ exp.description }}</p>
      <h4>Tecnologias Utilizadas</h4>
      <ul aria-label="Lista de habilidades desenvolvidas no cargo">
        <li *ngFor="let tech of exp.technologies">
          {{ tech }}
        </li>
      </ul>
    </div>
  </div>
</div>
